* {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: green;
    text-align:center;
    letter-spacing: 1cm;
    font-size: 2cm;
}
img {
float: left;
}
